numpy
pygame
SoundCard==0.4.6
winrt-runtime>=3.2.1; sys_platform == 'win32'
winrt-Windows.Foundation>=3.2.1; sys_platform == 'win32'
winrt-Windows.Foundation.Collections>=3.2.1; sys_platform == 'win32'
winrt-Windows.Media.Control>=3.2.1; sys_platform == 'win32'
